@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;

}
.indeximg{
    max-width: 90%;
    background-color: #06082fad;
}
.dev{
    display: block ruby;
    text-align: center;
    font-size: x-small;
}
.navbar-item img{
    width: auto;
    max-height: 3.1855rem;
}
.content > form{
    display: inline-block;
}

.section{
    text-align: justify;
    
}